<div class="container">
  <div class="jumbotron">
    <h1>DOJO EMBER</h1> 
    <ul>
        <li>Alejandro Granada Restrepo</li>
        <li>Brayan Barrientos</li>
    </ul>
  </div>
  {{#link-to 'list' class="btn btn-success"}}Ver Lista posts{{/link-to}}
  {{#link-to 'users' class="btn btn-success"}}Ver Lista usuarios{{/link-to}}
</div>
{{outlet}}
